// PAGE PRE-LOADER //

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: $white !important;
    text-align: -webkit-center;
    padding-top: 250px;
    animation-name: loading-opacity;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    &__text {
        font-family: "Shrikhand", "cursive";
        font-size: 2rem;
        margin-top: 1rem;
        color: $color-primary;
        display: flex;
        justify-content: center;
    }
}

@keyframes loading-opacity {
    0%, 50% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        top: 0;
        bottom: 0;
    }
    100% {
        opacity: 0; 
        top: -100vh;
        bottom: auto;
    }
}

// SPINNER //

.circle-1, .circle {
    height: 150px;
    width: 70px;
    border-left: 3px solid $color-secondary;
    border-top: 3px solid $color-tertiary;
    border-right: 3px solid $color-secondary;
    border-bottom: 3px solid $color-tertiary;
    position: relative;
    border-radius: 50%;
    transition: 2.5s linear;
    transform: rotate(15deg);
}

.circle {
    bottom: 3px;
    right: 3px;
}

.circle-1 {
    animation-name: spin;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

// FADING DOTS //

.dot-1 {
    animation: fadeinout 800ms ease-in infinite;
    animation-delay: 200ms;
    margin-top: 3px;
}

.dot-2 {
    animation: fadeinout 800ms ease-in infinite;
    animation-delay: 400ms;
    margin-top: 3px;
}

.dot-3 {
    animation: fadeinout 800ms ease-in infinite;
    animation-delay: 600ms;
    margin-top: 3px;
}

@keyframes fadeinout {
    0% {opacity: 1;}
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}
