// PAGE PRE-LOADER //

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: $white !important;
    text-align: -webkit-center;
    padding-top: 250px;
    animation-name: loading-opacity;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    &__text {
        font-family: "Shrikhand", "cursive";
        font-size: 2rem;
        margin-top: 1rem;
        color: $color-primary;
        display: flex;
        justify-content: center;
    }
}

@keyframes loading-opacity {
    0%, 50% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        top: 0;
        bottom: 0;
    }
    100% {
        opacity: 0; 
        top: -100vh;
        bottom: auto;
    }
}
