.header,
.footer,
.menu__image,
.menu,
.main {
    min-width: 340px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: $white;
    &__logo {
        transform: scale(0.4)
    }
}
