// RESTAURANT CARD //

.restaurant {
    &__card {
        background-color: $white;
        border-radius: 1rem;
        position: relative;
        box-shadow: 3px 3px 8px 2px $mid-grey;
        i {
            bottom: 1em;
            right: 1em;
            font-size: 25px;
            position: absolute;
        }
        &:hover {
            transition: all .25s ease-in-out;
            transform: scale(1.05);
        }
        @media (min-width: 768px) and (max-width: 1023.9px) {
            width: 48.6%;
        }
        @media (min-width: 1024px) and (max-width: 1199.9px) {
            width: 31.9%;
        }
        @media (min-width: 1200px) {
            width: 23.4%;
        }
    }
    &__image {
        height: 10rem;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        object-fit: cover;
    }
    &__label {
        background-color: $color-tertiary;
        color: #2a8f76;
        padding: 6px 24px;
        border-radius: 2px;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        font-size: 0.8rem;
    }
    &__caption {
        padding: 14px;
    }
}
// DISH CARD //

.dish {
    background-color: $white;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0px 3px 5px 1px #a9a9a966;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    &__text {
        overflow: hidden;
        padding: 0.8rem;
    }
    &__name, &__description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
