// RESTAURANT CARD //

.restaurant {
    &__card {
        background-color: $white;
        border-radius: 1rem;
        position: relative;
        box-shadow: 3px 3px 8px 2px $mid-grey;
        &:hover {
            transition: all .25s ease-in-out;
            transform: scale(1.05);
        }
        @media (min-width: 768px) and (max-width: 1023.9px) {
            width: 48.6%;
        }
        @media (min-width: 1024px) and (max-width: 1199.9px) {
            width: 31.9%;
        }
        @media (min-width: 1200px) {
            width: 23.4%;
        }
    }
