// COLOURS //

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$black: #000000;
$white: #fff;
$light-grey: #f0f0f05e;
$mid-grey: #a9a9a92e;
$dark-grey: #353535c4;
$color-footer: #353535;
$color-hover: #ebdffa;